@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Loader */
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Common */

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.messenger-container {
    overflow-y: auto;
}

.page {
    color: whitesmoke;
    background-color: #434a56;
    /* font-family: "PT Sans", sans-serif; */
    font-family: "Lato", sans-serif;
    font-size: 22px;
    margin: 0;
}

.page-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fieldset {
    border: none;
}

.button {
    background-color: #434a56;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;

    transition-duration: 0.4s;
}

.button:hover {
    outline: 2px solid white;
    color: white;
}

.input {
    width: 170px;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #434a56;
    color: white;
    border: 2px solid red;
    box-sizing: border-box;
}

.button:disabled,
.button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.input:disabled,
.input[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* Game Process Container */

.game-process-container {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 13;

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Current turn */

.current-turn-container {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    display: flex;
}

.player-side-list {
    width: 250px;
    height: 150px;
    display: inherit;
    justify-content: space-around;
}

.player-side-item {
    width: 70px;
    height: 70px;
    align-self: center;

}

/* Playground */

.field-large {
    flex-flow: row wrap;
    display: flex;
    margin: 0 auto;
    padding: 5px;
    width: 650px;
}

.field-small {
    display: inherit;
    flex-wrap: inherit;
    flex-basis: 210px;
    padding: 2px;
    align-items: center;
    margin: 0 auto;
}

.cell {
    display: inherit;
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 3px;

    border: 2px solid whitesmoke;
    border-radius: 40%;

    cursor: pointer;
}

.active-area {
    border: 3px solid red;
    border-radius: 15%;
}

.inactive-area>.cell {
    border: 2px solid #6b7078;
    background-color: #6b707841;
}

.cross-hold {
    background-image: url("../images/playground/cross.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.zero-hold {
    background-image: url("../images/playground/zero.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.draw-hold {
    background-image: url("../images/playground/draw.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/* Messenger */

.messenger-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;

    border: 3px solid red;
    border-radius: 5%;
}

.message-form {
    width: 400px;
    margin: auto auto 0 auto;
}

.messages-list {
    display: inherit;
    flex-direction: column;
}

.message-item {
    width: auto;
    height: auto;

    display: inherit;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    word-break: break-all;
}

.message-danger {
    color: rgba(236, 131, 131, 0.766);
}

.message-author {
    color: rgba(107, 216, 244, 0.493);
    font-size: 18px;
    min-width: 160px;
}

.message-content {
    color: rgba(157, 244, 137, 0.816);
    font-size: 12px;
    margin-left: 20px;
}

/* Лобби */

.lobbies {
    display: flex;
    flex-direction: column;
}

.player-list {
    /* border: 2px solid red; */
    border-radius: 10px;
    max-width: 955px;

    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.player-item {
    background-color: whitesmoke;
    width: 100px;
    height: 15px;
    margin: 3px;

    font-size: 12px;

    color: black;
    border-radius: 5px;
}

.player-nickname {
    margin: 0;
    padding: 0;
}

.room-list {
    /* border: 2px solid red; */
    border-radius: 10px;
    max-width: 955px;
    min-height: 50px;
    padding: 5px;

    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.room-header {
    margin: 0;
    padding: 0;

    font-size: 16px;
}