<div class="main-container">
	<h1 class="mat-display-2" style="font-weight: 900; text-align: center; margin: 15px 0; color: #fff">Tic Tac Toe</h1>

	<div class="field d-flex justify-content-center">
		<p class="current-status mat-display-1" style="color:#fff">Start the game on the button</p>
	</div>

	<div *ngIf="this.game.gameStatus === 0" class=" field d-flex justify-content-center" style="width: 100%;">
		<button (click)="startGame()" mat-raised-button color="accent" class="start-game-button">
			Start GameNow!
		</button>
	</div>

	<div *ngIf="this.game.gameStatus === 1" class="gameboard">

		<div class="players player-one align-self-center">
			<p class="mad-body-1" style="font-weight: 700; margin: 0 0 10px 10px">Player 1</p>
		</div>

		<div class="gamefield container-fluid">
			<div class="row">
				<div (click)="clickCell($event)" position="0" class="subfield col-4"></div>
				<div (click)="clickCell($event)" position="1" class="subfield col-4"></div>
				<div (click)="clickCell($event)" position="2" class="subfield col-4"></div>
			</div>
			<div class="row">
				<div (click)="clickCell($event)" position="3" class="subfield col-4"></div>
				<div (click)="clickCell($event)" position="4" class="subfield col-4"></div>
				<div (click)="clickCell($event)" position="5" class="subfield col-4"></div>
			</div>
			<div class="row">
				<div (click)="clickCell($event)" position="6" class="subfield col-4"></div>
				<div (click)="clickCell($event)" position="7" class="subfield col-4"></div>
				<div (click)="clickCell($event)" position="8" class="subfield col-4"></div>
			</div>
		</div>

		<div class="players player-two align-self-center">
			<p class="mad-body-1" style="font-weight: 700; margin: 0 10px 10px 0">Player 2</p>
		</div>

	</div>

</div>